[submodule "Assets/_Project/Unity-6-PSX"]
	path = Assets/_Project/Unity-6-PSX
	url = https://github.com/MurilloYonamine/Unity-6-PSX.git
[submodule "Assets/_Shared/Audio-System"]
	path = Assets/_Shared/Audio-System
	url = https://github.com/MurilloYonamine/Audio-System.git
