[submodule "Assets/_MAIN/Scripts/Audio-System"]
	path = Assets/_MAIN/Scripts/Audio
	url = https://github.com/MurilloYonamine/Audio-System.git
[submodule "Assets/_MAIN/Scripts/Audio"]
	path = Assets/_MAIN/Scripts/Audio
	url = https://github.com/MurilloYonamine/Audio-System.git
