[submodule "Assets/_MAIN/Scripts/Audio"]
	path = Assets/_MAIN/Scripts/Audio
	url = https://github.com/MurilloYonamine/Audio-System.git
[submodule "Assets/_MAIN/Orbital Movement"]
	path = Assets/_MAIN/Orbital Movement
	url = https://github.com/MurilloYonamine/Unity-Orbital-Movement.git
